* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ========= ========= HEADER ========= =========*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 15%;
  box-shadow: 5px 5px 20px red;
  background-color: #fff;
  z-index: 1;
}

.logo img {
  height: 60px;
}

.logo img:hover {
  cursor: pointer;
}

.menubar {
  width: 40%;
}

.menuOption:hover {
  cursor: pointer;
}

.menubar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  justify-content: space-between;
  font-size: 18px;
}

/* ========= ========= MAIN ========= =========*/

main {
  width: 100%;
}

/* ========= ========= MASTHEAD ========= =========*/
.masthead {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0 15%;
  background-image: url(./resources/dog-playing1-4.jpg);
  background-size: cover;
}

.pitchText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
}

.pitch2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}

.bestfriend {
  margin-left: 15px;
  color: red;
  -webkit-text-stroke: 1px #fff;
}

/* ========= ========= SHOP ========= =========*/
.shopSection {
  margin: 0 15%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  background: url(./resources/SALBG.png) no-repeat;
  background-size: 100% 100%;
  gap: 25%;
}

.shopTitle {
  color: red;
  font-size: 50px;
  -webkit-text-stroke: 1px #000;
}

.shopBtn {
  padding: 1rem 3rem;
  background-color: red;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  text-decoration: underline;
}

/* ========= ========= VET ========= =========*/
.vetSection {
  height: 540px;
  margin: 0 15%;
  padding: 5% 0;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

.vetTitle {
  color: #5296fb;
  font-size: 50px;
}

.vetBtn {
  padding: 1rem 3rem;
  background-color: #5296fb;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  text-decoration: underline;
}

.vetStaff {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
}

.vetProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #5296fb;
  font-weight: bold;
}

.profilePic img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.vetInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: 5%;
}

/* ========= ========= COURSES ========= =========*/
.coursesSection {
    height: 540px;
    margin: 0 15%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./resources/dog\ course.jpeg) no-repeat;
    background-size: 100% 100%;
    gap: 15%;
  }

  .coursesTitle {
    color: red;
    font-size: 50px;
  }
  
  .coursesDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
  }

  .courseOption {
    background-color: #FFF;
    height: 100%;
    width: 12rem;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
  }

  .optionTitle {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
  }

  .optionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    gap: 1rem;
  }

  .courseBtn {
    padding: .7rem 2rem;
    background-color: red;
    color: #FFF;
    font-size: 18px;
    text-decoration: underline;
    border: 1px solid black;
  }

/* ========= ========= FOOTER ========= =========*/
footer {
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5rem;
}

.contactColumn {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

